* {
    box-sizing: border-box;
}

.container {
    max-width: 1075px;
    margin: 0 auto;
}

body {
    margin: 0;
    background-color: #1c2541;
    font-family: 'Roboto', sans-serif;
}

/*nav*/

nav {
    width: 100%;
    height: auto;
    background-color: #0b132b;
    padding: 20px 0px;
    text-align: center;
}

nav a {
    color: whitesmoke;
    font-size: 0.9em;
    padding: 0px 30px;
    font-weight: 600;
    text-decoration: none;
}

h1,
h2,
h3,
h4 {
    text-align: center;
    color: white;
    font-size: 48px;
}

#first {
    background-image: url(./images/bg.jpg);
    padding: 100px;
}

#second {
    height: 500px;
}

.onas {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-start;
}

.osoba {
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
    flex: 1;
    padding: 10px;
    margin: 10px;
    background-color: rgba(11, 19, 43, 0.8);
    color: white;
    text-align: justify;
    transition: transform 1s ease-out;
}

.osoba img {
    width: 170px;
}

.info {
    align-self: flex-end;
    display: none;
}

.osoba:hover {
    transform: scaleY(1.2);
}

.osoba:hover .info {
    display: block;
    padding-top: 50px;
}

#third {
    padding: 100px;
 }

 form {
    text-align: center;
}

[class*="_form"] {
    padding: 10px;
    margin-bottom: 10px;
    resize: none;
    outline: none;
    font-weight: 300;
    border: none;
    background-color: white;
    border-radius: 1rem;
    font-family: 'Zona-pro', sans-serif;
}

.top_form {
    height: 60px;
    width: 197px;
}

.bottom_form {
    height: 90px;
    width: 400px;
}

.contact_btn {
    background-color: white;
    padding: 10px;
    margin-top: 20px;
    font-weight: bold;
    border: none;
    outline: none;
    border-radius: 1rem;
    cursor: pointer;
}

footer {
    background-color: #0b132b;
    padding: 20px 0px;
    text-align: center;
    color: whitesmoke;
    font-size: 0.9em;
    font-weight: 600;
}